body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%; }

.main-layout {
  background: url("../images/main-background.jpg") center/cover; }

.main-layout .mdl-layout__header,
.main-layout .mdl-layout__drawer-button {
  color: white; }

.mdl-layout__header {
  background-color: #323232; }

.card-pinned > .mdl-card__title {
  color: #fff;
  height: 280px;
  background: url("../images/model_01.jpg") center/cover; }

.card-pinned > .mdl-card__menu {
  color: #fff; }

.cards {
  max-width: 900px;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.mdl-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.mdl-card__title {
  padding: 16px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.mdl-card__media {
  box-sizing: border-box;
  background-size: cover;
  padding: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.mdl-card__title-text {
  font-weight: 500;
  font-size: 30px; }

.mdl-layout .mdl-layout__content {
  padding-top: 150px;
  position: relative;
  -webkit-overflow-scrolling: touch; }

.mdl-button.mdl-button--colored {
  color: #FFAB40; }

.card-explore > button {
  position: absolute;
  bottom: 0;
  right: 28px;
  -webkit-transform: translate(0px, -28px);
  -ms-transform: translate(0px, -28px);
  transform: translate(0px, -28px); }

.card-explore > .mdl-card__title {
  color: #fff;
  height: 280px;
  background: url("../images/iict.jpg") center/cover; }

.card-faculty-staff > .mdl-card__title {
  color: #fff;
  height: 280px;
  background: url("../images/faculty_card_media.jpg") center/cover; }

/* Fixes for IE 10 */
.mdl-grid {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.social-btn {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 0 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.46;
  border-radius: 2px; }

.social-btn__twitter {
  background-image: url("../images/post_twitter_black_24dp.png"); }

.social-btn__blogger {
  background-image: url("../images/post_facebook_black_24dp.png"); }

.social-btn__gplus {
  background-image: url("../images/post_gplus_black_24dp.png"); }

.social-btn__share {
  color: rgba(0, 0, 0, 0.54);
  background: transparent; }

.mdl-mini-footer {
  margin-top: 80px;
  height: 120px;
  padding: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
  box-sizing: border-box; }
