<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{{site.title}}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only dark-gray-text">
        <a class="mdl-navigation__link" href="">Admission</a>
        <a class="mdl-navigation__link" href="">Faculty &amp; Staff</a>
        <a class="mdl-navigation__link" href="">About</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Admission</a>
      <a class="mdl-navigation__link" href="">Faculty &amp; Staff</a>
      <a class="mdl-navigation__link" href="">About</a>
    </nav>
  </div>
