<div class="mdl-card iict-pic mdl-cell mdl-cell--8-col">
  <div class="mdl-card__media mdl-color-text--grey-50">

  </div>
  <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
    <div>
      <strong>Prepare for a better future and career. Be an IICTzen!</strong>
    </div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
    Get Started
  </a>
</div>
<div class="mdl-card__menu">
  <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
    <i class="material-icons mdl-color-text--white">share</i>
  </button>
</div>
</div>
