<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div class="iict-site mdl-layout mdl-js-layout has-drawer is-upgraded">
  {% include header.html %}
    <main class="mdl-layout__content">
      <div class="iict-site__posts mdl-grid">
        {% include pinned.html %}
        <div class="mdl-card acad-programs--card mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop mdl-shadow--2dp">
          <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent"><i class="material-icons mdl-color-text--white">arrow_forward</i></button>
          <div class="mdl-card__media mdl-color-text--grey-600">
            <h3 class="mdl-color-text--white">Explore</h3>
          </div>
          <div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
            <div>
              <strong>Learn more about our Institute.</strong>
            </div>
          </div>
        </div>

        <div class="mdl-card acad-programs mdl-cell mdl-cell--12-col mdl-shadow--2dp">
          <div class="mdl-card__media mdl-color-text--grey-50">
            <h3><a href="entry.html">Academic Programs</a></h3>
          </div>
          <!-- <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
            Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
          </div> -->
          <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
            <i class="material-icons mdl-color-text--grey-600">school</i>
            <div>
              <strong>Know what&apos;s the right course for you.</strong>
            </div>
          </div>
          <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
              <i class="material-icons mdl-color-text--white">share</i>
            </button>
          </div>
        </div>

        <div class="mdl-card acad-faculty mdl-cell mdl-cell--12-col mdl-shadow--2dp">
          <div class="mdl-card__media mdl-color-text--grey-50">
            <h3><a href="entry.html">Teaching Team</a></h3>
          </div>
          <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
            Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
          </div>
          <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            View
          </a>
        </div>
          <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
              <i class="material-icons mdl-color-text--white">share</i>
            </button>
          </div>
        </div>

        <!-- {{content}} -->
      </div>


      {% include footer.html %}

    </main>
    <div class="mdl-layout__obfuscator"></div>
  </div>
</body>

</html>
