<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div class="iict-site mdl-layout mdl-js-layout has-drawer is-upgraded">
  {% include header.html %}
    <main class="mdl-layout__content">
      <div class="iict-site__posts mdl-grid">
        <div class="mdl-card iict-pic mdl-cell mdl-cell--8-col">
          <div class="mdl-card__media mdl-color-text--grey-50">
            <h3><a class="iict-pic-title" href="entry.html">Post</a></h3>
          </div>
          <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
            <div class="minilogo"></div>
            <div>
              <strong>Subtitle</strong>
              <span>2 days ago</span>
            </div>
          </div>
        </div>

        <div class="mdl-card something-else mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop">
          <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent"><i class="material-icons mdl-color-text--white">add</i></button>
          <div class="mdl-card__media mdl-color--white mdl-color-text--grey-600">
            <img src="images/logo.png">
            +1,337
          </div>
          <div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
            <div>
              <strong>The Newist</strong>
            </div>
          </div>
        </div>

        <!-- {{content}} -->
      </div>


      {% include footer.html %}

    </main>
    <div class="mdl-layout__obfuscator"></div>
  </div>
</body>

</html>
